*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightgreen;
}

#myVideo {
    position: fixed;
    left: -280px;
    bottom: -280px;
    min-width: 100%;
    min-height: 100vh;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }